.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
/target/
.gradle/
/build/

/build/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/
/node/
node_tmp/
node_modules/
npm-debug.log.*

.classpath
.settings/
.project
.metadata
.loadpath
.factorypath
.cproject
.buildpath
*.tmp
*.bak
*.swp
*.launch

.vscode/

Desktop.ini
.DS_Store
.svn
.Spotlight-V100
.Trashes
